::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #505276;
    border-radius: 0;
}

::-webkit-scrollbar-corner {
    display: none;
}

:root {
    --c-text: #d7def8;
    --c-text-hover: #9299b4;
    --c-text-accent: #6d7594;
    --c-primary: #8d92ff;

    --cta-button-gradient: linear-gradient(137deg, #df089b, #db6e20, #ecdd3c);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d0e12;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.demo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.demo .video-container .video {
    border-radius: 8px;
    max-width: 95vmin;
    max-height: 50vh;
}

.demo .video-container {
    display: flex;
    justify-self: flex-start;
    position: relative;
}

.demo .video-container .video-background {
    z-index: -1;
    opacity: 0.75;
    transform: scale(1.05);
    filter: blur(45px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.demo header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
}

.demo header h1 {
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: var(--c-text);
}

.demo header p {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: normal;
    color: var(--c-text);
}

.demo header a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.3em;
    color: white;
    padding: 0.75em 2.25em 0.75em 1.25em;
    margin-top: 24px;
    transition: 0.3s all;
    background: var(--cta-button-gradient);
    border-radius: 50em;
    position: relative;
}

.demo header a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
    bottom: 0;
    background: var(--cta-button-gradient);
    transition: 0.3s all;
    transform: scale(0.95);
    filter: blur(10px);
    z-index: -1;
}

.demo header a svg {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}

.demo header a:hover {
    filter: brightness(1.05);
}

.demo header a:hover::before {
    filter: blur(10px) brightness(1.1);
    transform: none;
}

.demo .controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 6px;
}

.demo .controls > button {
    background: transparent;
    backdrop-filter: brightness(0.5);
    padding: 8px 16px;
    color: var(--c-text-accent);
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s;
}

.demo .controls > button.active {
    border: 2px solid rgba(0, 0, 0, 0.5);
    filter: brightness(1.25);
    color: var(--c-text);
}

.demo .controls > button:not(.active):hover {
    border: 2px solid rgba(0, 0, 0, 0.25);
    filter: brightness(1.25);
    color: var(--c-text-hover);
}
